.u-d-flex {
  display: flex;
}

.u-d-flex > * {
  flex: 1;
}

.u-no-border {
  border: none !important;
}

.u-no-padding {
  padding: 0 !important;
}

.u-text-center {
  text-align: center !important;
}
